.signoff
    display: flex
    border: 1px solid grey
    padding: 10px
    border-radius: 5px

.signoff-avatar img
    clip-path: circle()
    max-height: 100px

.signoff-avatar
    align-items: center
    justify-content: center
    display: flex

.signoff-avatar span
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

.signoff-content
    padding-left: 20px